// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #0D6EFD;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$gray: #0E0000;
$light-gray: #F4F4F4;

// app/assets/stylesheets/config/_colors.scss
:root {
  --background-color: #FFFBE9;
  --edit-button-color: #FF6B6B;
  --card-background: rgba(255, 255, 255, 0.8);
  --text-color: #333333;
}

// Custom background colors for expiration dates
.bg-warning-soft {
  background-color: #FF9C73 !important; // Using the same color as your shelf
  color: #333 !important;
}

.bg-dangerx {
  background-color: #f55959 !important; // Using your edit-button-color for consistency
  color: #333 !important;
}
