<div class="back-button">
    <%= link_to recipes_new_path do %>
      <%= image_tag 'button.svg', alt: 'Retour', class: 'svg-icon' %>
    <% end %>
  </div>
<div class="scroll-user-recipes">
<% @recipes.each do |recipe|%>
<%= render "components/card-recipe", recipe: recipe %>
<% end %>
</div>
