<div class="recipes-container">
  <h2 class="section-title">Nos dernières recettes</h2>

  <div class="recipes-scroll">
    <% @recipes.each do |recipe| %>
      <div class="recipe-card">
        <div class="recipe-image">
          <%= cl_image_tag(recipe.photo.key, class: "card-img") if recipe.photo.attached? %>
        </div>
        <div class="recipe-content">
          <h3 class="recipe-title"><%= recipe.name %></h3>
          <p class="recipe-detail"><%= truncate(recipe.ingredients, length: 100) %></p>
        </div>
      </div>
    <% end %>
  </div>
</div>
