<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>WiseFood</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <div class="container">
        <div class="notch"></div>
          <h1 class="easy-text">Bienvenue sur <span class="easy-texte">WiseFood</span></h1>
      <h2 class="easy-text">C'est facile !</h2>
        <ul>
             <li class="itim-text">Appuie sur le bouton +</li>
             <li class="itim-text">Scan ton produit</li>
             <li class="itim-text">Consulte tes recettes</li>
        </ul>
        <div class="button-container">
            <div class="button">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="#ffffff">
                    <path d="M8.5,6.5v11l9-5.5L8.5,6.5z" />
                </svg>
            </div>
            <div class="start-text">C'est parti !</div>
        </div>
    </div>
</body>
</html>
