body {
  margin: 0;
  background-color: #1a1a1a;
  font-family: "Itim", sans-serif;
  min-height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  background-color: #FFFDE9;
  width: 100vh;
  height: 100vh;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  overflow-y: auto;


  // Desktop styles
  @media (min-width: 992px) {
    max-width: 100vh;
    min-height: 100vh;
    margin: 0 auto;
    border-radius: 16px;
  }

  // Tablet styles
  @media (min-width: 577px) and (max-width: 991px) {
    width: 100vh;
    min-height: 100vh;
    margin: 0 auto;
    border-radius: 12px;
  }

  // Mobile styles
  @media (max-width: 576px) {
    width: 100%;
    min-height: 100vh;
    margin: 0;
    border-radius: 0;
  }
}

// .container2 {
//   background-color: #fffde9;
//   width: 320px;
//   height: 640px;
//   border-radius: 40px;
//   text-align: center;
//   position: relative;
//   padding: 20px;
// }
