h1 {
  margin: 20px 0 20px 0;
  font-size: 48px;
  color: #333;
  font-family: 'Molle', cursive;
}

.favorites-container {
  width: 90%;
  padding: 20px;
  height: calc(100vh - 100px); // Laisse de l'espace pour le titre
  overflow-y: auto;
  margin-top: 20px;

  .recipe-card {
    background: #ffb199;
    border-radius: 16px;
    padding: 20px;
    margin-bottom: 20px;

    h2 {
      margin: 0 0 15px 0;
      font-size: 32px;
      color: #333;
      font-family: 'Molle', cursive;
    }

    .recipe-content {
      display: flex;
      align-items: flex-start;
      gap: 0px;
    }

    .recipe-image {
      .placeholder-img {
        width: 160px;
        height: 160px;
        background: #ddd;
        border-radius: 12px;
        object-fit: cover;
      }
    }

    .recipe-details {
      flex: 1;
      margin-left: 20px; // Ajoute un espace fixe après l'image
      font-size: 20px;

      .ingredients-section {
        text-align: left;

        p {
          margin: 0 0 5px 0;
          font-weight: bold;
        }

        ul {
          margin: 0;
          padding-left: 15px;
          list-style-position: outside;
        }
      }
    }
  }
}
