.scroll-user-recipes {

    width: 100%; /* Make it take up most of the width */
    height: 100vh; /* Allow height to adjust to content */
    margin: 0 auto; /* Center the div horizontally */
    padding: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center; /* Center content horizontally */
    overflow-y: auto;

    /* Add some responsive adjustments */
    @media (max-width: 768px) {
      width: 95%; /* Take up more width on smaller screens */
      padding: 1rem;
    }

}
