<div data-controller="camera">
  <div class="viewport">
    <canvas id="canvas"></canvas>
    <img id="img" crossorigin="anonymous">
    <video id="video" muted autoplay playsinline></video>
  </div>
  <button id="videoBtn"></button>
</div>
