<div class="container-prod">

  <div class="notch"></div>

  <div class="shelf-container">
    <div class="shelf">
      <div class="items-row">

      <%# <div class="item">
        <div class="days">10j</div>
        <div class="name">Camembert</div>
        <div class="icon">
          <img src="cheese-icon.svg" alt="fromage">
        </div>
      </div>
      <div class="item">
        <div class="days">9j</div>
        <div class="name">Comté</div>
        <div class="icon">
          <img src="cheese-icon.svg" alt="fromage">
        </div>
      </div>
      <div class="item">
        <div class="days">9j</div>
        <div class="name">Chèvre</div>
        <div class="icon">
          <img src="cheese-icon.svg" alt="fromage">
        </div>
      </div> %>

      </div>
      <div class="shelf-table">
      <div class="trapeze"></div>
      <div class="bottom"></div>
      </div>
    </div>
    <div class="shelf">
      <div class="items-row">

<%# items %>

      </div>
      <div class="shelf-table">
      <div class="trapeze"></div>
      <div class="bottom"></div>
      </div>
    </div>
    <div class="shelf">
      <div class="items-row">

<%# items %>

      </div>
      <div class="shelf-table">
      <div class="trapeze"></div>
      <div class="bottom"></div>
      </div>
    </div>
    <div class="shelf">
      <div class="items-row">

<%# items %>

      </div>
      <div class="shelf-table">
      <div class="trapeze"></div>
      <div class="bottom"></div>
      </div>
    </div>
    <div class="shelf">
      <div class="items-row">

<%# items %>

      </div>
      <div class="shelf-table">
      <div class="trapeze"></div>
      <div class="bottom"></div>
      </div>
    </div>
  </div>

  <nav class="bottom-nav">
  <div class="nav-item">
    <svg viewBox="0 0 24 24">
      <path d="M11 9H9V2H7v7H5V2H3v7c0 2.12 1.66 3.84 3.75 3.97V22h2.5v-9.03C11.34 12.84 13 11.12 13 9V2h-2v7zm5-3v8h2.5v8H21V2c-2.76 0-5 2.24-5 4z"/>
    </svg>
  </div>
  <div class="add-button">+</div>
  <div class="nav-item">
    <svg viewBox="0 0 24 24">
      <path d="M12 12c2.21 0 4-1.79 4-4s-1.79-4-4-4-4 1.79-4 4 1.79 4 4 4zm0 2c-2.67 0-8 1.34-8 4v2h16v-2c0-2.66-5.33-4-8-4z"/>
    </svg>
  </div>
  </nav>
</div>
