
<h1>Your fridge</h1>
<ul>
  <% @products.each do |product| %>
    <li><%= product.name %></li>
    <li><%= product.quantity_stock %></li>
    <li><%= product.expiration_date %></li>
  <% end %>
</ul>

